body {
  text-align: left;
  font-family: monospace;
}

.p-intro {
  font-style: italic;
  font-size: 80%;
}

.h2-intro{
  font-size: 40px;
  text-align: center;
  font-style: normal;
}

.img-intro{
  height: 300px;
  width: 500px;
  text-align: center;
}
